body {
    background-image: linear-gradient(0deg, rgba(6, 2, 58, 0.6), rgba(6, 2, 58, 0.6)) url('../images/large_bg.jpg');
}


h1 {
    font-size: 4rem;
}

.author {
    text-align: left;
}

section {
    width: 50%;
}

#generator {
    bottom: 25%;
    right: 20%;
}