body {
    background: linear-gradient(0deg, rgba(6, 2, 58, 0.6), rgba(6, 2, 58, 0.6)) url('../images/medium_bg.jpg');
}

h1 {
    font-size: 3rem;
}

section {
    padding: 10rem 0;
    width: 70%;
}

#generator {
    bottom: 20%;
    right: 10%;
}